image: maven:3.9.11

pipelines:
  default:
    - parallel:
      - step:
          name: Build da aplicação
          caches:
            - maven
          script:
            - mvn clean install -DskipTests # Builds the project and runs tests
            - apt-get update
            - apt-get install -y zip
            - zip -r $BITBUCKET_REPO_SLUG-$BITBUCKET_BUILD_NUMBER.zip .
          artifacts:
            - target/*.jar # Saves the built JAR file as an artifact for later steps
            - $BITBUCKET_REPO_SLUG-$BITBUCKET_BUILD_NUMBER.zip 

  #            - mvn -B verify -DskipTests --file pom.xml

  #            - zip -r $BITBUCKET_REPO_SLUG-$BITBUCKET_BUILD_NUMBER.zip .
  #          artifacts:
  #            - $BITBUCKET_REPO_SLUG-$BITBUCKET_BUILD_NUMBER.zip 
      - step:
          name: Deploy da aplicação
          deployment: production
          script:
            - pipe: atlassian/azure-web-apps-deploy:1.1.0
              variables:
                AZURE_APP_ID: $AZURE_APP_ID
                AZURE_PASSWORD: $AZURE_PASSWORD
                AZURE_TENANT_ID: $AZURE_TENANT_ID
                AZURE_APP_NAME: $AZURE_APP_NAME
                AZURE_RESOURCE_GROUP: $AZURE_RESOURCE_GROUP
                PACKAGE: 'target/ensinofiap-0.0.1-SNAPSHOT.jar'
                #LOCAL_PATH: /
                ZIP_FILE: $BITBUCKET_REPO_SLUG-$BITBUCKET_BUILD_NUMBER.zip
